<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.kboPj.dao.KboPjDAO">
    <select id="idCheck" parameterType="String" resultType="Integer">
        SELECT  count(*)
        FROM usertable
        WHERE userId = #{userId}
    </select>

    <insert id="saveJoinForm" parameterType="com.pj.kboPj.vo.KboPjVO">
        INSERT INTO usertable
        (teamID, userId, userPwd, userName, email, userPhoneNumber, userBirty, userPoint, createdAt, MDF_DT)
        VALUES(
            (SELECT teamID FROM kboteam WHERE teamValue = #{teamValue})
            , #{userId}, #{userPwd}, #{userName}, #{email}, #{userPhoneNumber}, #{userBirty}, 0, sysdate(), sysdate())
    </insert>


    <select id="userChk" parameterType="com.pj.kboPj.vo.KboPjVO" resultType="com.pj.kboPj.vo.KboPjVO">
        SELECT u.userSeq, u.userId, u.userPwd, u.userName
            , u.userPhoneNumber, u.userPoint, u.createdAt, u.MDF_DT, u.userBirty
            , kt.teamID, kt.teamName, kt.teamLogo
        FROM usertable u
             LEFT JOIN kboteam kt ON u.teamID = kt.teamID
        WHERE userId = #{userId} AND userPwd = #{userPwd}
    </select>

    <select id="findUserById" parameterType="String" resultType="com.pj.kboPj.vo.KboPjVO">
        SELECT  u.userId, u.userPwd, u.userName, u.userPhoneNumber, u.userPoint, u.email
                , u.userBirty, u.createdAt, u.MDF_DT
                , k.teamName, k.teamLogo, k.teamID
        FROM usertable u
            LEFT JOIN kboteam k ON k.teamID = u.teamID
        WHERE userId = #{userId}
    </select>

    <update id="updateUser" parameterType="com.pj.kboPj.vo.KboPjVO">
        UPDATE usertable
        SET
            MDF_DT = sysdate()
        <if test="userPwd != null and userPwd != ''">
            , userPwd = #{userPwd}
        </if>
        <if test="userName != null and userName != ''">
            , userName = #{userName}
        </if>
        WHERE userId = #{userId}
    </update>

    <update id="pointUpdate" parameterType="com.pj.kboPj.vo.KboPjVO">
        UPDATE usertable
        SET userPoint = #{userPoint}
        WHERE userId = #{userId}
    </update>

    <select id="selectPlayerStats" parameterType="String" resultType="com.pj.kboPj.vo.KboPjVO">
        SELECT ps.PlayerID as playerId, ps.recordType, ps.Name as name, ps.teamID as teamId, ps.position as position, ps.playerRank as playerRank
             , ps.AVG as avg, ps.G as g, ps.PA as pa, ps.AB as ab, ps.R as r, ps.H as h, ps.H2 as h2, ps.H3 as h3, ps.HR as hr, ps.RBI as rbi, ps.TB as tb, ps.SAC as sac, ps.SF as sf
             , ps.E as e, ps.ERA as era, ps.W as w, ps.L as l, ps.SV as sv, ps.HLD as hld, ps.WPCT as wpct, ps.TBF as tbf, ps.IP as ip
             , ps.PH as ph, ps.PHR as phr, ps.PBB as pbb, ps.PHBP as phbp, ps.PSO as pso, ps.PR as pr,ps. PER as per, ps.WHIP as whip
             , ps.GS as gs, ps.D_IP as dip, ps.PKO as pko, ps.PO as po, ps.A as a, ps.DP as dp, ps.FPCT as fpct, ps.PB as pb
             , ps.DSB as dsb, ps.DCS as dcs, ps.CS_RT as csRt, ps.SBA as sba, ps.SB2 as sb2, ps.CS2 as cs2, ps.SBP as sbp, ps.OOB as oob
             , k.teamName
        FROM player_stats ps
                 LEFT JOIN kbopj.kboteam k on ps.teamID = k.teamID
        WHERE 1=1
          AND recordType = #{recordType}
        ORDER BY ps.playerRank
    </select>

    <select id="selectAllBoards" parameterType="com.pj.kboPj.vo.KboPjVO" resultType="com.pj.kboPj.vo.KboPjVO">
        SELECT  u.userId, u.userName
            , fb.boardId, fb.userSeq, fb.teamID, fb.boardTitle, fb.boardContent, fb.view_cnt, fb.REG_DT, fb.MDF_DT
        FROM fanbulletinboard fb
            LEFT JOIN usertable u ON fb.userSeq = u.userSeq
        WHERE 1=1
        <if test="teamId != null and teamId != ''">
            AND fb.teamID = #{teamId}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (fb.boardTitle LIKE CONCAT('%', #{keyword}, '%')
            OR u.userName LIKE CONCAT('%', #{keyword}, '%')
            OR fb.boardContent LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY fb.REG_DT DESC
    </select>

    <select id="countBoards" parameterType="com.pj.kboPj.vo.KboPjVO" resultType="int">
        SELECT COUNT(*)
        FROM fanbulletinboard fb
            LEFT JOIN usertable u ON fb.userSeq = u.userSeq
        WHERE 1=1
        <if test="teamId != null and teamId != ''">
            AND fb.teamID = #{teamId}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (fb.boardTitle LIKE CONCAT('%', #{keyword}, '%')
            OR u.userName LIKE CONCAT('%', #{keyword}, '%')
            OR fb.boardContent LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>

    <delete id="delFanBoard" parameterType="com.pj.kboPj.vo.KboPjVO">
        DELETE FROM fanbulletinboard
        WHERE boardId=#{boardId}
            AND teamID=#{teamId}
            AND userSeq=#{userSeq}
    </delete>

    <insert id="insertFanBoard" parameterType="com.pj.kboPj.vo.KboPjVO">
        INSERT INTO fanbulletinboard (
               userSeq, teamID, boardTitle, boardContent, view_cnt,
               userName, REG_DT, MDF_DT
        )
        VALUES(
               #{userSeq}, #{teamId}, #{boardTitle}, '', 1,
               #{userName}, #{reg_dt}, sysdate()
        )
    </insert>

    <update id="updateFanBoard" parameterType="com.pj.kboPj.vo.KboPjVO">
        UPDATE fanbulletinboard
            SET
              boardTitle=#{boardTitle}
              , MDF_DT= sysdate()
        WHERE boardId=#{boardId}
    </update>

    <select id="selectGamesByDate" parameterType="String" resultType="com.pj.kboPj.vo.KboPjVO">
        SELECT
            s.game_id,
            s.game_date,
            s.venue,
            s.home_score,
            s.away_score,
            s.home_innings,
            s.away_innings,
            s.home_total,
            s.away_total,
            ht.teamName AS team1Name,
            at.teamName AS team2Name,
            ht.teamValue AS team1Class,
            at.teamValue AS team2Class,
            ht.teamID AS team1Id,
            at.teamID AS team2Id,
            CONCAT(ht.teamName, ' vs ', at.teamName) AS game_name,
            mp.prediction_id,
            mp.teamID AS predicted_team_id,
            kt.teamName AS predicted_team_name,
            CASE
                WHEN s.home_score > s.away_score THEN s.home_team_id
                WHEN s.away_score > s.home_score THEN s.away_team_id
                ELSE NULL
            END AS actual_winner_id,
            CASE
                WHEN s.home_score > s.away_score THEN ht.teamName
                WHEN s.away_score > s.home_score THEN at.teamName
                ELSE NULL
            END AS actual_winner_teamName,
            mp.prediction_time AS predictionTime,
            mp.is_correct
        FROM scoreboard s
            JOIN kboteam ht ON s.home_team_id = ht.teamID
            JOIN kboteam at ON s.away_team_id = at.teamID
            LEFT JOIN match_predicitions mp
                ON s.game_id = mp.game_id
                <choose>
                    <when test="userSeq != null and userSeq != ''">
                        AND mp.userSeq = #{userSeq}
                    </when>
                    <otherwise>
                        AND mp.userSeq = 0
                    </otherwise>
                </choose>
            LEFT JOIN kboteam kt ON mp.teamID = kt.teamID
        WHERE 1=1
            AND s.game_date = #{gameDate}
    </select>


    <insert id="insertPredictionMatch" parameterType="com.pj.kboPj.vo.KboPjVO">
        INSERT INTO match_predicitions (userSeq, game_id, teamID, prediction_time, is_correct)
        VALUES  ( #{userSeq}, #{game_id}, #{teamId}, sysdate(), 'win')
    </insert>

</mapper>
