<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pj.kboPj.dao.KboPjDAO">
    <select id="idCheck" parameterType="String" resultType="Integer">
        SELECT  count(*)
        FROM usertable
        WHERE userId = #{userId}
    </select>

    <insert id="saveJoinForm" parameterType="com.pj.kboPj.vo.KboPjVO">
        INSERT INTO usertable
        (teamID, userId, userPwd, userName, email, userPhoneNumber, userBirty, userPoint, createdAt, MDF_DT)
        VALUES(
            (SELECT teamID FROM kboteam WHERE teamValue = #{teamValue})
            , #{userId}, #{userPwd}, #{userName}, #{email}, #{userPhoneNumber}, #{userBirty}, 0, sysdate(), sysdate())
    </insert>


    <select id="userChk" parameterType="com.pj.kboPj.vo.KboPjVO" resultType="com.pj.kboPj.vo.KboPjVO">
        SELECT u.userSeq, u.userId, u.userPwd, u.userName
            , u.userPhoneNumber, u.userPoint, u.createdAt, u.MDF_DT, u.userBirty
            , kt.teamID, kt.teamName, kt.teamLogo
        FROM usertable u
             LEFT JOIN kboteam kt ON u.teamID = kt.teamID
        WHERE userId = #{userId} AND userPwd = #{userPwd}
    </select>

    <select id="findUserById" parameterType="String" resultType="com.pj.kboPj.vo.KboPjVO">
        SELECT  u.userId, u.userPwd, u.userName, u.userPhoneNumber, u.userPoint, u.email
                , u.userBirty, u.createdAt, u.MDF_DT
                , k.teamName, k.teamLogo, k.teamID
        FROM usertable u
            LEFT JOIN kboteam k ON k.teamID = u.teamID
        WHERE userId = #{userId}
    </select>

    <update id="updateUser" parameterType="com.pj.kboPj.vo.KboPjVO">
        UPDATE usertable
        SET
            MDF_DT = sysdate()
        <if test="userPwd != null and userPwd != ''">
            , userPwd = #{userPwd}
        </if>
        <if test="userName != null and userName != ''">
            , userName = #{userName}
        </if>
        WHERE userId = #{userId}
    </update>

<!--
    <insert id="reserveInsert" parameterType="com.pj.kboPj.vo.KboPjVO">
        INSERT INTO seatprice(ticketId, userId, placeId, price, seatZone, seatRow, seatCol, usedDt, seatStatus)
        VALUES(#{ticketId}, #{userId}, #{placeId}, #{seatPrice}, #{seatZone}, #{seatRow}, #{seatCol}, #{usedDt}, 'booked');
    </insert>
-->

    <update id="pointUpdate" parameterType="com.pj.kboPj.vo.KboPjVO">
        UPDATE usertable
        SET userPoint = #{userPoint}
        WHERE userId = #{userId}
    </update>

    <select id="selectPlayerStats" parameterType="String" resultType="com.pj.kboPj.vo.KboPjVO">
        SELECT PlayerID as playerId, recordType, Name as name, teamID as teamId, Position as position, playerRank,
               AVG as avg, G as g, PA as pa, AB as ab, R as r, H as h, H2 as h2, H3 as h3, HR as hr, RBI as rbi,
               SB as sb, CS as cs, BB as bb, HBP as hbp, SO as so, GDP as gdp, E as e,
               ERA as era, CG as cg, SHO as sho, W as w, L as l, SV as sv, HLD as hld, WPCT as wpct, TBF as tbf,
               IP as ip, PH as ph, PHR as phr, PBB as pbb, PHBP as phbp, PSO as pso, PR as pr, PER as per,
               GS as gs, D_IP as dIp, PKO as pko, PO as po, A as a, DP as dp, FPCT as fpct, PB as pb,
               DSB as dsb, DCS as dcs, CS_RT as csRt, SBA as sba, SB2 as sb2, CS2 as cs2, SBP as sbp, OOB as oob
        FROM player_stats
        WHERE 1=1
            AND recordType = #{recordType}
    </select>


    <select id="selectAllBoards" parameterType="com.pj.kboPj.vo.KboPjVO" resultType="com.pj.kboPj.vo.KboPjVO">
        SELECT  u.userId, u.userName
            , fb.boardId, fb.userSeq, fb.teamID, fb.boardTitle, fb.boardContent, fb.view_cnt, fb.REG_DT, fb.MDF_DT
        FROM fanbulletinboard fb
            LEFT JOIN usertable u ON fb.userSeq = u.userSeq
        WHERE 1=1
        <if test="teamId != null and teamId != ''">
            AND fb.teamID = #{teamId}
        </if>
        <if test="keyword != null and keyword != ''">
            AND (fb.boardTitle LIKE CONCAT('%', #{keyword}, '%')
            OR u.userName LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        ORDER BY fb.REG_DT DESC
    </select>

    <select id="countBoards" parameterType="com.pj.kboPj.vo.KboPjVO" resultType="int">
        SELECT COUNT(*)
        FROM fanbulletinboard
        WHERE 1=1
        <if test="keyword != null and keyword != ''">
            AND (boardTitle LIKE CONCAT('%', #{keyword}, '%')
            OR userName LIKE CONCAT('%', #{keyword}, '%')
            OR boardContent LIKE CONCAT('%', #{keyword}, '%'))
        </if>
    </select>

    <select id="selectGamesByDate" parameterType="String" resultType="com.pj.kboPj.vo.KboPjVO">
        SELECT
            s.game_id,
            s.game_date,
            s.venue,
            s.home_score,
            s.away_score,
            s.home_innings,
            s.away_innings,
            s.home_total,
            s.away_total,
            ht.teamName AS team1Name,
            at.teamName AS team2Name,
            ht.teamValue AS team1Class,
            at.teamValue AS team2Class,
            ht.teamID AS team1Id,
            at.teamID AS team2Id
        FROM scoreboard s
             JOIN kboteam ht ON s.home_team_id = ht.teamID
             JOIN kboteam at ON s.away_team_id = at.teamID
        WHERE 1=1
            AND s.game_date = #{date}
    </select>


    <insert id="insertPredictionMatch" parameterType="com.pj.kboPj.vo.KboPjVO">
        INSERT INTO match_predicitions (userSeq, game_id, teamID, prediction_time, is_correct)
        VALUES  ( #{userSeq}, #{game_id}, #{teamId}, sysdate(), 'win')
    </insert>

</mapper>
